---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

## National Cheng Kung University
    
{% include base_path %}

{% if site.publication_category %}
  {% for category in site.teaching_category  %}
    {% assign title_shown = false %}
    {% for post in site.teaching reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h3>{{ category[1].title }}</h3><hr/>
      {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.teaching reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
